.cpbar {
    position: relative;
    top: 20px;
}

.circle-background {
    fill: none;
    stroke: #ddd;
}

.circle-progress {
    fill: none;
    /* stroke: var(--color1); */
    stroke-linecap: round;
    stroke-linejoin: round;
    
}

.circle-text {
    font-size: 1.5rem;
    font-weight: bold;

}